#main {
    padding-top: 16px;
    width: 1246px;
    margin-left: auto;
    .title {
        margin: 0 20px;
        font-size: 60px;
        line-height: 60px;
        color: #152934;
        border: {
            top: 2px solid #16519D;
            bottom: 2px solid #16519D;
        }
        position: relative;

        .meiti {
            width: 240px;
            height: 68px;
            color: #152935;
            font-size: 54px;
            font-weight: 600;
            line-height: 68px;
            margin-top: 20px;
            margin-bottom: 25px;
        }
    }
    .news_mb{
        display: none;
    }
    .news {
        width: 72px;
        height: 44px;
        color: #3d70b2;
        font-size: 24px;
        font-weight: 600;
        line-height: 68px;
        text-transform: uppercase;
        position: absolute;
        top: 91px;
        left: 942px;
    }

    .content {
        position: relative;
        background: #fff;
        padding-left: 40px;
        display: flex;
        margin-bottom: 128px;

        .desc {
            margin-right: 50px;
            p {
                padding-top: 14px;
            }
            .cn{
                margin-top: 30px;
                font-size: 46px;
                line-height: 64px;
                font-weight: bold;
                color: #004098;
                width: 276px;
            }
        }

        .info {
            width: 634px;
            margin-top: 50px;

            div, p {
                line-height: 28px;
            }

            .findmore {
                width: 362px;
                font-size: 14px;

                .company {
                    margin-bottom: 22px;
                    >p{
                        font-size: 22px;
                        line-height: 30px;
                    }
                    .name {
                        line-height: 36px;
                        font-weight: bold;
                        color: #152935;
                    }

                    .address {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }

                p, li {
                    font-size: 18px;
                }
                ul{
                    margin-bottom: 20px;
                }
            }

            .map {
                width: 280px;
                background: #5A6872;
                height: 250px;
            }
        }
    }
}

.footer {
    background: #16519D;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    width: 1246px;
    .info {
        font-size: 12px;
        color: white;
        text-align: center;
        line-height: 50px;
    }
}